/* reddit-sidebar-calendar CSS v1.0 */
/* Place in the CSS of the subreddit */

/* Centre calendar (first table in sidebar) */
.titlebox table:first-of-type {
    width: 100%;
    margin: 0 auto;
    text-align:center;
}

/* add popup on hover of each day */
.titlebox table:first-of-type a {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 12px;
    height: auto;
    width: 125px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -95px; /* controls how high the text box should be */
    left:-30px; /* controls how much to the left the text box should be */
    display:none;
    padding:0 20px;
}


.titlebox table:first-of-type a:after {
    content:'';
    position:absolute;
    /** this is that small thing under the textbox to make it like speechbubble **/
    /*bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:38%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);*/
}



.titlebox table:first-of-type td {
    position:relative;
    cursor:pointer;
}

.titlebox table:first-of-type td:hover a {
    display:block;
    position:absolute;
}

